h1{
	color: red;
	font-size: 60px;
  font-family: 'Dancing Script', cursive;
}
#thisone{
		height:75%;
    width: auto;
    margin: 25px;
}
ul {
	color: green;
	font-size: 38px;
}
#thisone{
		height:75%;
    width: auto;
    margin: 25px;
}
#sentence1{
	color: black;
	font-size: 48px;
	font-family: 'Julius Sans One', sans-serif;
}
